header{
    
    padding: 50px;
    text-align: center;
    background-color:  #729C44;
    color: white;
    margin: auto;
    font-size: larger;
}

form{
    text-align: center;
    background-color:  #729C44;
    color: white;
    padding: 20px;
    width: 400px;
    margin: auto;
}
table{
    text-align: center;
    border: solid black;
    border-collapse: collapse;
    margin: auto;
    padding: auto;
}
th,
td{
    border: 2px solid #729C44;
    border-collapse: collapse;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;


}

