header{
    
    padding: 50px;
    text-align: center;
    background-color: green;
    color: white;
    margin: auto;
    font-size: larger;
}

form{
    text-align: center;
    background-color: green;
    color: white;
    padding: 20px;
    width: 400px;
    margin: auto;
}
table{
    text-align: center;
    border: solid black;
    border-collapse: collapse;
    margin: auto;
    padding: auto;
}
th,
td{
    padding: 8px;
    border: 2px solid green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    



}

